flows.json
[
    {
        "id": "1a467be567bcbae3",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3ae1dd54fa914e76",
        "type": "mqtt in",
        "z": "1a467be567bcbae3",
        "name": "",
        "topic": "esp32",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ed96e13f2437c5eb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "0b4a8048654dac96",
                "aaab333b03293cb7",
                "752afaf3826901f3",
                "5a16bb4d7a1f8f37",
                "1ed2be0de7cc5f4a",
                "8d8856e2c2434433",
                "b7d097807b1076fb"
            ]
        ]
    },
    {
        "id": "0b4a8048654dac96",
        "type": "debug",
        "z": "1a467be567bcbae3",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 60,
        "wires": []
    },
    {
        "id": "9edfc6feda5e0187",
        "type": "ui_gauge",
        "z": "1a467be567bcbae3",
        "name": "",
        "group": "a56f8967af78bfb3",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Nhiệt độ",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "aaab333b03293cb7",
        "type": "function",
        "z": "1a467be567bcbae3",
        "name": "độ C",
        "func": "var temp = Math.round(msg.payload.temperatureC * 10) / 10\nmsg.payload = temp\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 140,
        "wires": [
            [
                "9edfc6feda5e0187",
                "c0ef97c833e4c8e3"
            ]
        ]
    },
    {
        "id": "752afaf3826901f3",
        "type": "function",
        "z": "1a467be567bcbae3",
        "name": "Độ ẩm",
        "func": "var temp = msg.payload.humidity\nmsg.payload = temp\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 340,
        "wires": [
            [
                "7aca440305cbf47d",
                "84c27cedcd8b1187"
            ]
        ]
    },
    {
        "id": "7aca440305cbf47d",
        "type": "ui_gauge",
        "z": "1a467be567bcbae3",
        "name": "",
        "group": "a56f8967af78bfb3",
        "order": 7,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Độ ẩm",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "c0ef97c833e4c8e3",
        "type": "ui_chart",
        "z": "1a467be567bcbae3",
        "name": "",
        "group": "a56f8967af78bfb3",
        "order": 22,
        "width": 8,
        "height": 4,
        "label": "Đồ thị nhiệt độ C",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#fb7d0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "84c27cedcd8b1187",
        "type": "ui_chart",
        "z": "1a467be567bcbae3",
        "name": "",
        "group": "a56f8967af78bfb3",
        "order": 36,
        "width": 8,
        "height": 4,
        "label": "Đồ thị độ ẩm",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#258cd4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "d9f2b6cc22333460",
        "type": "ui_gauge",
        "z": "1a467be567bcbae3",
        "name": "",
        "group": "a56f8967af78bfb3",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Nhiệt độ",
        "label": "°F",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 220,
        "wires": []
    },
    {
        "id": "5a16bb4d7a1f8f37",
        "type": "function",
        "z": "1a467be567bcbae3",
        "name": "độ F",
        "func": "var temp = Math.round(msg.payload.temperatureF * 10) / 10\nmsg.payload = temp\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 220,
        "wires": [
            [
                "d9f2b6cc22333460"
            ]
        ]
    },
    {
        "id": "1ed2be0de7cc5f4a",
        "type": "function",
        "z": "1a467be567bcbae3",
        "name": "LPG",
        "func": "var temp = msg.payload.LPG\nmsg.payload = temp\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 480,
        "wires": [
            [
                "d2a405c45f092904",
                "e0fd35367818339a"
            ]
        ]
    },
    {
        "id": "d2a405c45f092904",
        "type": "ui_gauge",
        "z": "1a467be567bcbae3",
        "name": "",
        "group": "a56f8967af78bfb3",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "LPG level",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 440,
        "wires": []
    },
    {
        "id": "e0fd35367818339a",
        "type": "ui_chart",
        "z": "1a467be567bcbae3",
        "name": "",
        "group": "a56f8967af78bfb3",
        "order": 24,
        "width": 8,
        "height": 4,
        "label": "Đồ thị LPG",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2fac2f",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "8d8856e2c2434433",
        "type": "function",
        "z": "1a467be567bcbae3",
        "name": "Check Gas Level",
        "func": "// Set the gas threshold\nconst gasThreshold = 100;\n\nvar temp = msg.payload.LPG\nmsg.payload = temp\n\n// Get the gas level from the incoming message\nconst gasLevel = parseFloat(msg.payload);\n\nif (gasLevel > gasThreshold) {\n    // Set the email subject and body\n    msg.topic = \"Gas Level Alert\";\n    msg.payload = `Warning: Gas level has exceeded the threshold! Current level: ${gasLevel}`;\n    return msg;\n} ",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 580,
        "wires": [
            [
                "f92eabd69983f957"
            ]
        ]
    },
    {
        "id": "d7720a2836cb9204",
        "type": "e-mail",
        "z": "1a467be567bcbae3",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "esp32nodered@gmail.com",
        "dname": "mail",
        "x": 1010,
        "y": 580,
        "wires": []
    },
    {
        "id": "3b9fc8762c7a3730",
        "type": "debug",
        "z": "1a467be567bcbae3",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 640,
        "wires": []
    },
    {
        "id": "f92eabd69983f957",
        "type": "delay",
        "z": "1a467be567bcbae3",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 750,
        "y": 580,
        "wires": [
            [
                "d7720a2836cb9204",
                "3b9fc8762c7a3730",
                "ab4ad9e7666e217c"
            ]
        ]
    },
    {
        "id": "ab4ad9e7666e217c",
        "type": "ui_toast",
        "z": "1a467be567bcbae3",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 990,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "b7d097807b1076fb",
        "type": "function",
        "z": "1a467be567bcbae3",
        "name": "check lửa",
        "func": "// Set the gas threshold\n\nvar temp = msg.payload.flameStatus\nmsg.payload = temp\n\n// Get the gas level from the incoming message\nconst flameStatus = parseFloat(msg.payload);\n\nif (flameStatus ==0) {\n    // Set the email subject and body\n    msg.topic = \"FIRE FIRE FIRE\";\n    msg.payload = `Warning: Cháy nhà kìa`;\n    return msg;\n} ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 780,
        "wires": [
            [
                "911bd0cb7e521d21"
            ]
        ]
    },
    {
        "id": "9a5b798a7432ad88",
        "type": "e-mail",
        "z": "1a467be567bcbae3",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "esp32nodered@gmail.com",
        "dname": "mail",
        "x": 990,
        "y": 780,
        "wires": []
    },
    {
        "id": "85a6cd9e0c7dffd1",
        "type": "debug",
        "z": "1a467be567bcbae3",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 840,
        "wires": []
    },
    {
        "id": "911bd0cb7e521d21",
        "type": "delay",
        "z": "1a467be567bcbae3",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 750,
        "y": 780,
        "wires": [
            [
                "9a5b798a7432ad88",
                "85a6cd9e0c7dffd1",
                "be03f80fd5759ebd"
            ]
        ]
    },
    {
        "id": "be03f80fd5759ebd",
        "type": "ui_toast",
        "z": "1a467be567bcbae3",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 990,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "abd37fc8a63ec96f",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "6419473acfad67f2",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "f3ec193d2d8a098e",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "e093871f2d6021c1",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "da7dcc833cbe18c4",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "5f4593137ef1c809",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "89dc2b43c2a04d91",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "02c60c7f1f2cd2d2",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "cc2a16c1bb07e02f",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "d9f843b4d985896f",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "4f4e376f054ff38b",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "4a6c6354886e93ae",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "2e42bc4f8f1b29e4",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "821cd7d727bb93ce",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "b3185b7f1b57e583",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "38b3c38eaa0c208f",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "4a3c4e62a2188fa3",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "93c3b5d0bba77a44",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "5574eee47d6d1f82",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 25,
        "width": 2,
        "height": 1
    },
    {
        "id": "54b4882b6be78c6f",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "557eef99892fe9b2",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 27,
        "width": 1,
        "height": 1
    },
    {
        "id": "142f95161112fe7b",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 28,
        "width": 2,
        "height": 1
    },
    {
        "id": "424e6940e5310410",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "bdfaf8a687d01a32",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "705f84fa8d092fcd",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 31,
        "width": 2,
        "height": 1
    },
    {
        "id": "46fadf980a9e6c8c",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "e132d4d81bc224ab",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 33,
        "width": 1,
        "height": 1
    },
    {
        "id": "06a30c94669be1de",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 34,
        "width": 2,
        "height": 1
    },
    {
        "id": "8883f3612c4171d8",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 35,
        "width": 6,
        "height": 1
    },
    {
        "id": "1233b68bc19bdbb6",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 37,
        "width": 6,
        "height": 1
    },
    {
        "id": "3307a551305af079",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 38,
        "width": 6,
        "height": 1
    },
    {
        "id": "2134e27f6edb6f72",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 39,
        "width": 6,
        "height": 1
    },
    {
        "id": "4e4fadcc298c9561",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 40,
        "width": 6,
        "height": 1
    },
    {
        "id": "7401a9adaa2ce455",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 41,
        "width": 6,
        "height": 1
    },
    {
        "id": "2367916f905ad569",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 42,
        "width": 6,
        "height": 1
    },
    {
        "id": "5887ed8a704212bb",
        "type": "ui_spacer",
        "z": "1a467be567bcbae3",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 43,
        "width": 6,
        "height": 1
    },
    {
        "id": "ed96e13f2437c5eb",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "574369a46aef46299f8c76500e62701c.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a56f8967af78bfb3",
        "type": "ui_group",
        "name": "SENSOR",
        "tab": "8ff4928f3ec236aa",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8ff4928f3ec236aa",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]